// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  margin: 0;
  bottom: 0;
}

.container {
  max-width: 1920px;
}

.f-40 {
  font-size: 40px;
}
.h-60 {
  height: 60px;
}
.bor {
  border: 2px solid green;
}

.h-36 {
  height: 36px;
}
.f-24 {
  font-size: 24px;
}
.fw-400 {
  font-weight: 400;
}

.navbar-brand {
  color: #212528;
  div {
    height: 11px;
    width: 11px;
    background-color: red;
    border-radius: 100%;
    display: inline-block;
  }
}
.nav-search {
  height: 73px;
  width: 204px;
  color: #212528;
  border: 2px solid #212528;
  border-radius: 4px;
}
.nav-item:hover {
  border-bottom: 2px solid #6f77f1;
}
input::placeholder {
  font-size: 24px;
  text-align: center;
  line-height: 73px;
}
.nav-btn-style {
  background-color: #fad725;
  width: 83px;
}

.f-38 {
  font-size: 38px;
  font-weight: 400;
}

.img-card-2 {
  padding: 20px;
  border-radius: 14px;
}
.card-title-2 {
  font-size: 22px;
  font-weight: 500;
}
.card-text-2 {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 11px;
  color: #828282;
}

.col-title {
  font-size: 55px;
  font-weight: 500;
  color: #212528;
  width: 100%;
  text-align: center;
  margin-bottom: 21px;
  span {
    color: #6f77f1;
  }
}

.col-description {
  color: #828282;
  font-size: 17px;
  font-weight: 400;
  width: 902px;
  text-align: center;
  margin-bottom: 56px;
}

.card-title-3 {
  font-size: 20px;
  font-weight: 500;
  color: #212528;
  margin-bottom: 23px;
}
.card-text-3 {
  font-size: 17px;
  font-weight: 400;
  color: #828282;
  margin-bottom: 25px;
}
.button-element {
  width: 100%;
  button {
    background-color: #fad725;
    height: 44px;
    width: 124px;
  }
}

.img-c {
  margin-left: 34px;
  margin-top: 56px;
}
.c-t {
  margin-left: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #212528;
  margin-top: 91px;
}
.c-tt {
  margin-left: 34px;
  font-size: 17px;
  font-weight: 400;
  color: #828282;
  margin-top: 21px;
  margin-right: 44px;
}

.why-card-title {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 8px;
}
.why-card-text {
  color: #828282;
  font-size: 17px;
  font-weight: 400;
}
.why-img {
  height: 101px;
  width: 101px;
}
.why-card {
  width: 638px;
  flex-direction: row;
  gap: 28px;
  padding-left: 43px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 51px;
  border: none;
}
.why-card:hover {
  box-shadow: 5px 5px 10px #0216050f;
  cursor: pointer;
}

// Responsive part

@media (min-width: 1200px) {
  .seo-nav {
    width: 100%;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
@media (min-width: 1850px) {
  .seo-nav {
    width: 100%;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 68px;
  }
}
@media (min-width: 320px) {
  .container-fluid {
    width: 100%;
  }
}

// hero card section

.hero-card-section {
  padding-left: 127px;
  padding-right: 127px;
  gap: 63px;
}
.hero-card {
  width: 513px;
  box-shadow: 5px 5px 10px #0216050f;
  border: none;
}
.hero-card:hover {
  cursor: pointer;
}
.hero-img-card {
  width: 129px;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 30px;
}
.hero-card-title {
  margin-top: 35px;
  width: 259px;
  display: flex;
  flex-wrap: wrap;
}
.hero-card-text {
  font-size: 17px;
  color: #828282;
  margin-top: 33px;
  padding-bottom: 40px;
}
@media (max-width: 1800px) {
  .hero-card {
    .card-body {
      div {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 1300px) {
  .hero-card-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .hero-card {
    .card-body {
      div {
        display: flex;
        flex-direction: row;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .hero-cards {
    width: 100%;
    .hero-card-section {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      gap: 30px;
      .hero-card {
        width: 100%;
        margin: 0px;
        padding: 0px;
        div {
          .hero-card-title-part {
            flex-direction: column;
            .hero-img-card {
              height: 6rem;
              width: 6rem;
            }
            .hero-card-title {
              font-size: 1.5rem;
            }
          }
          .hero-card-text {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// Optimization Section styling

.optimization-section {
  div {
    div {
      flex-direction: column;
      padding-left: 127px;
    }
    .card {
      border: none;
    }
    .card:hover {
      border-radius: 0;
      border-bottom: 3px solid blue;
    }
  }
}
.optimization-text {
  width: 100%;
  font-size: 17px;
  color: #828282;
  font-weight: 400;
}
.opti-card {
  width: 400px;
  height: 472px;
  border: 2px solid red;
}

@media (min-width: 1300px) {
  .optimization-section {
    div {
      div {
        padding-left: 0px;
      }
    }
  }
}
@media (min-width: 900px) {
  .optimization-section {
    div {
      div {
        padding-left: 50px;
      }
    }
  }
}
@media (max-width: 900px) {
  .optimization-section {
    div {
      div {
        padding-left: 15px;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .optimization-section {
    margin-bottom: 30px;
  }
  .optimization-title {
    font-size: 2rem;
  }
  .optimization-text {
    font-size: 1rem;
  }
  .opti-card {
    height: 20rem;
  }
  .optimization-card-title {
    font-size: 1.6rem;
  }
  .optimization-card-text {
    font-size: 0.8rem;
  }
}

// Laptop section styling

.laptop-section {
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-top: 98px;
  padding-bottom: 98px;
  background-image: url("./assets/images/Rectangle\ 922.png");
  .col {
    .card {
      margin-left: 200px;
    }
  }
}
@media (max-width: 1400px) {
  .laptop-section {
    flex-direction: column;
    width: 100%;
    .col {
      margin-bottom: 50px;
      .card {
        margin-left: 20px;
        padding-left: 20%;
        padding-right: 20%;
      }
    }
  }
}
@media (max-width: 800px) {
  .laptop-section {
    flex-direction: column;
  }
  .card {
    margin-bottom: 50px;
    flex-direction: column;
  }
}
@media (min-width: 1920px) {
  .laptop-section-card {
    width: 601px;
    padding-left: 100px;
  }
  .laptop-section {
    display: flex;
    justify-content: center;
    align-items: center;
    .laptop-image {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 342px;
        width: 608px;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .laptop-section-card {
    width: 100%;
  }
  .laptop-title {
    font-size: 2rem;
  }
  .laptop-text {
    font-size: 1rem;
  }
}

// Small card section styling

.small-card-section {
  .small-card-sector {
    padding-top: 100px;
    gap: 75px;
    @media (min-width: 320px) and (max-width: 600px) {
      gap: 20px;
      padding-top: 50px;
    }
    .small-card {
      width: 370px;
      height: 289px;
      border: none;
    }
    .small-card:hover {
      box-shadow: 5px 5px 10px #0216051a;
      cursor: pointer;
    }
  }
}
@media (max-width: 1300px) {
  .small-card-section {
    div {
      flex-wrap: wrap;
    }
  }
}

// Choose us section styling

.choose-us-section-card {
  width: 365px;
  height: 548px;
  border: none;
  div {
    img {
      width: 307px;
      height: 204.62px;
      margin-top: 46px;
      margin-bottom: 36.38px;
    }
  }
}
.choose-us-section-card:hover {
  box-shadow: 5px 5px 10px #0216051a;
  cursor: pointer;
}
.choose-us-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: #828282;
}
@media (max-width: 1200px) {
  .choose-us-section-cards {
    div {
      div {
        flex-direction: column;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .choose-us-section {
    width: 100%;
    .choose-us-sector {
      .choose-us-title-section {
        .choose-us-title {
          font-size: 2rem;
        }
      }
    }
    .choose-us-section-cards {
      width: 100%;
      .choose-cards {
        width: 100%;
        .choose-card {
          width: 100%;
          .choose-us-section-card {
            width: 100%;
            div {
              img {
                height: auto;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// Need us section styling

@media (max-width: 1700px) {
  .need-us-section {
    .need-us-img {
      width: 60%;
    }
    .need-us-sector {
      width: 40%;
      .row {
        .col-title {
          font-size: 4em;
        }
      }
    }
  }
}
@media (max-width: 1000px) {
  .need-us-section {
    flex-direction: column;
    .col {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        height: 100%;
        width: 100%;
      }
      .row {
        .col-title {
          width: 100%;
          font-size: 40px;
        }
        .col-description {
          width: 100%;
        }
        .why-card {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .need-us-section {
    .need-us-sector {
      .need-title-section {
        .need-title {
          font-size: 1.5rem;
        }
        .need-text {
          font-size: 1rem;
        }
      }
    }
  }
}

// Number section style

.number-section {
  height: 201px;

  .row {
    width: 1036px;
    height: 201px;
    gap: 56px;
    flex-direction: row;
    border: 1px solid #e1e1e1;

    .col {
      width: 172px;
      font-size: 73px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      span {
        font-size: 17px;
        font-weight: 500;
        color: #6f6f6f;
        text-align: center;
      }
    }
    .dot {
      height: 25px;
      width: 14px;
      border-radius: 100%;
    }

    #red {
      background-color: #d1563b;
    }
    #green {
      background-color: #3bd165;
    }
    #yellow {
      background-color: #f7c745;
    }
  }
}
@media (max-width: 1100px) {
  .number-section {
    height: auto;
    .row {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .dot {
      display: none;
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .number-section {
    .numbers {
      .number {
        font-size: 2rem;
        span {
          font-size: 1rem;
        }
      }
    }
  }
}

// Web speed check section

.web-speed-check-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  .check-speed-section {
    margin-left: 5%;
    .check-title {
      font-size: 55px;
      font-weight: 500;
      font-style: medium;
      color: #212528;
      span {
        color: #6f77f1;
      }
    }
    .check-text {
      color: #828282;
      font-size: 17px;
      font-weight: 400;
      width: 693px;
    }
    form {
      input {
        background-color: #f2f2f2;
        border-radius: 4px;
        border: none;
        height: 53px;
        width: 280px;
      }
      input[type="email"] {
        margin-left: -6px;
        border-left: 1px solid #dfdfdf;
      }
      input::placeholder {
        font-size: 17px;
        padding-top: 13px;
        padding-left: 23px;
        color: #b6b6b6;
      }
      button {
        height: 53px;
        width: 115px;
        margin-left: 10px;
      }
    }
  }
  .check-speed-image {
    width: 50%;
  }
}
@media (max-width: 1300px) {
  .web-speed-check-section {
    flex-direction: column-reverse;
    .check-speed-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      form {
        input {
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .web-speed-check-section {
    flex-direction: column-reverse;
    .check-speed-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .check-title {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      .check-text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        input[type="email"] {
          margin-left: 0px;
        }
      }
    }
  }
}
@media (min-width: 1920px) {
  .web-speed-check-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .check-speed-section {
    width: 50%;
    form {
      input {
        width: 288px;
      }
      button {
        margin-left: 36px;
      }
    }
  }
  .check-speed-image {
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .web-speed-check-section {
    margin-bottom: 20px;
    .check-speed-section {
      .check-title {
        font-size: 2rem;
      }
      .check-text {
        font-size: 1rem;
        text-align: center;
      }
      form {
        input {
          margin-top: 10px;
          width: 90%;
        }
        button {
          width: 90%;
          margin-left: 0px;
          margin-top: 10px;
        }
      }
    }
  }
}

// Purchase Plans

.purchase-plan-section {
  flex-direction: column;
  height: auto;
  background-color: #fafafa;
  padding-bottom: 95px;
  .purchase-plan-title-section {
    flex-direction: column;

    .purchase-plan-title {
      font-size: 55px;
      font-weight: 500;
      color: #212528;
      margin-top: 53px;
    }
    .purchase-plan-text {
      font-size: 17px;
      font-weight: 400;
      color: #828282;
      margin-top: 9px;
      margin-bottom: 57px;
    }
  }
  .purchase-plan-cards {
    gap: 22px;
    .purchase-plan-card {
      height: 523px;
      width: 372px;
      background-color: white;
      flex-direction: column;
      .plan-name {
        color: #6f77f1;
        font-size: 22px;
        font-weight: 500;
      }
      .plan-price {
        margin-bottom: 28px;
        sup {
          color: #212528;
          font-size: 16px;
          font-weight: 500;
        }
        span {
          font-size: 49px;
          font-weight: 500;
        }
        sub {
          font-size: 15px;
          font-weight: 500;
        }
      }
      .plan-texts {
        flex-direction: column;
        gap: 10px;
        color: #828282;
        font-size: 17px;
        font-weight: 400;
      }
      .plan-start-button {
        height: 44px;
        width: 126px;
        border: 1px solid #212528;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 500;
        margin-top: 42px;
      }
    }
    .purchase-plan-card:hover {
      cursor: pointer;
      height: 581px;
      background-image: url("../assets/images/Maskgroup.png");
      object-fit: cover;
      background-position: center;
      background-size: 200%;
      background-repeat: no-repeat;
      .plan-name {
        color: white;
      }
      .plan-price {
        color: white;
        sup {
          color: white;
        }
      }
      .plan-texts {
        color: white;
      }
      .plan-start-button {
        background-color: #fad725;
        border: none;
        border-radius: 2px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .purchase-plan-cards {
    height: auto;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .purchase-plan-section {
    width: 100%;
    .purchase-plan-title-section {
      .purchase-plan-title {
        font-size: 2rem;
      }
    }
    .purchase-plan-cards {
      .purchase-plan-card {
        width: 100%;
      }
    }
  }
}

// Team Member styling

.team-members-section {
  .team-member-title-section {
    flex-direction: column;
    .team-member-title {
      font-size: 55px;
      font-weight: 500;
      color: #212528;
      margin-top: 78px;
      span {
        color: #6f77f1;
      }
    }
    .team-member-text {
      width: 60%;
      color: #828282;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 64px;
    }
  }
  .team-member-card-section {
    gap: 30px;
    .team-member-card {
      width: 269px;
      height: 339px;
      flex-direction: column;
      border: 1px solid #efefef;
      .member-name {
        color: #212528;
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
      }
      .member-role {
        color: #a3a2a2;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 22px;
      }
      .member-social-icons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        .social-icon {
          i {
            height: 24px;
            width: 24px;
          }
        }
        .social-icon:hover {
          i {
            color: #6f77f1;
          }
        }
      }
    }
    .team-member-card:hover {
      box-shadow: 0px 34px 50px #0216051a;
      border: none;
      cursor: pointer;
      .member-name {
        color: #6f77f1;
      }
    }
  }
}
@media (max-width: 800px) {
  .team-member-title {
    text-align: center;
  }
  .team-member-text {
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .team-member-card-section {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .team-members-section {
    margin-bottom: 20px;
    .team-member-title-section {
      .team-member-title {
        font-size: 2rem;
      }
    }
  }
}

// Subscribe form styling

@keyframes successAnimation {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(300px);
    opacity: 1;
  }
}
.subscribe-form-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
  position: relative;

  #success-message {
    width: 300px;
    height: 60px;
    background-color: green;
    color: white;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    top: 0px;
    right: 0px;

    animation: successAnimation 3s ease-in-out 1;
  }
  .subscribe-form {
    height: auto;
    width: auto;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 16px;
    .form-title {
      color: #212528;
      font-size: 50px;
      font-weight: 500;
      margin-bottom: 17px;
      text-align: center;

      display: flex;
      flex-wrap: wrap;
    }
    .form-text {
      font-size: 20px;
      font-weight: 400;
      color: #909090;
      margin-bottom: 41px;

      display: flex;
      flex-wrap: wrap;
    }
    .form-part {
      gap: 30px;
      .form-input {
        input {
          height: 75px;
          width: 416px;
          border: 1px solid #c3c6d0;
          border-radius: 6px;
          text-align: start;
          padding-left: 37px;
          font-size: 19px;
        }
        input::placeholder {
          text-align: start;
        }
        .error {
          display: none;
          color: red;
        }
      }
      button {
        width: 169px;
        height: 75px;
        background-color: #6f77f1;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 20.55px;
      }
    }
  }
}
@media (max-width: 1500px) {
  .subscribe-form {
    height: auto;
    width: 100%;
  }
  .form-part {
    input {
      height: 50px;
      width: 300px;
    }
    button {
      height: 50px;
    }
  }
}
@media (max-width: 1300px) {
  .subscribe-form {
    height: auto;
    width: 100%;
  }
  .form-part {
    flex-direction: column;
    div {
      input {
        width: 20rem;
      }
    }
  }
}
@media (max-width: 1920px) {
  .subscribe-form {
    width: 1367px;
  }
  .form-part {
    margin-left: 150px;
    margin-right: 150px;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .subscribe-form-section {
    width: 100vw;
    .subscribe-form {
      width: 100%;
      .form-title {
        font-size: 2rem;
      }
      .form-text {
        font-size: 1rem;
      }
      .form-part {
        input {
          height: 3rem;
          width: 100%;
        }
        button {
          height: 3rem;
        }
      }
    }
  }
}

// footer styling

.seo-footer {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212528;
    margin-bottom: 26px;
    margin-top: 170px;
  }
  .options {
    display: flex;
    gap: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: #212528;
  }
  .copyright-section {
    border-top: 1px solid #eae5e5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .copyright-part {
      color: #828282;
      font-weight: 400;
      font-size: 13px;
    }
    .terms-part {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .term {
        color: #828282;
        font-weight: 400;
        font-size: 13px;
      }
    }
  }
}
@media (max-width: 700px) {
  .seo-footer {
    .options {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 5px;
    }
    .copyright-section {
      display: flex;
      flex-direction: column;
      .terms-part {
        margin-top: 20px;
        flex-direction: column;
      }
    }
  }
}

// hero section styling

.hero-section {
  height: 700px;
  background-image: url("../assets/images/hero-section-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;

  .hero-title {
    width: 50%;
    font-size: 90px;
    font-style: bold;
    font-weight: 700;
    color: #212528;
    line-height: 100px;
  }
  .hero-text {
    width: 50%;
    font-size: 20px;
    color: #727272;
  }
  .hero-button {
    width: 218px;
    height: 76px;
    margin-bottom: 80px;
    background-color: #fad725;
    font-size: 24px;
    font-weight: 500;
  }
}
@media (min-width: 1920px) {
  .hero-title {
    width: 863px;
  }
}
@media (max-width: 1000px) {
  .hero-section {
    background-image: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .hero-section {
    width: 100%;
    height: auto;
    .hero-title {
      width: 100%;
      line-height: 100%;
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
    .hero-text {
      width: 100%;
      font-size: 1rem;
      margin-bottom: 10px;
    }
    .hero-button {
      height: 3rem;
      font-size: 1rem;
    }
  }
}

// client says section

.client-says-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .title-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
    .client-title {
      text-align: center;
      font-size: 55px;
      font-weight: 500;
      color: #212528;
    }
    .client-text {
      width: 70%;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      color: #828282;
    }
  }
  .client-cards-section {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: scroll;
    padding-top: 20px;
    padding-bottom: 20px;

    .client-card {
      height: 273px;
      width: 569px;
      background-image: url("../assets/images/client-says-bg.png");
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border: 1px solid #efefef;

      .client-card-text {
        padding-left: 48px;
        font-size: 17px;
        font-weight: 400;
        color: #828282;
        margin-bottom: 21px;
      }
      .client-name {
        font-size: 12px;
        font-weight: 500;
        color: #212528;
      }
      .client-occupation {
        font-size: 12px;
        font-weight: 400;
        color: #828282;
      }
    }
    .client-card:hover {
      cursor: pointer;
      box-shadow: 5px 5px 10px #efefef;
      border: none;
    }
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .client-says-section {
    .title-section {
      .client-title {
        font-size: 2rem;
        margin-bottom: 10px;
      }
      .client-text {
        font-size: 1rem;
      }
    }
    .client-cards-section {
      .client-card {
        width: 100%;
      }
    }
  }
}
